/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

html, body {
  height: 100%;
  width:100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  cursor: pointer;
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
  text-align: center;
}

/* Customizations */

#dash-header {
    padding: 1% 0;
    background: rgb(110, 110, 235);
    color:aliceblue;
}

.container {
  display: flex;
   /* Change flex direction to column */
  justify-content: center; /* Center the items horizontally */
  /* margin: 0 7%; Remove any margin */
  padding: 0; /* Remove any padding */
}



.search-container h2 {
    text-align: center;
}


article {
    
    
    padding: 40px 80px;
}    

input {
    padding: 8px 60px 8px 10px;
    border-radius: 3px;
}

#city-search-btn {
    padding: 8px 15px;
    background: rgb(110, 110, 235); 
    color:aliceblue;
    border-radius: 5px;
}

.past-search {
    font-weight: 700;
    padding: 15px 40px;
    margin: 0 8px 8px 8px;
    background-color: rgb(160, 153, 153);
    text-align: center;
    border-radius: 5px;
}

.weather-container{
    display: flex;
    flex-direction: column;
   
    
    
}
.today-weather-content {
  margin: 0;
}
.today-weather {
    border: 3px solid black;
    
}

.current-weather {
  padding-right: 5%;
  box-sizing: border-box;
}



.five-day-weather {
    border: 3px solid black;
    padding: 2%;
    box-sizing: border-box;
}


